body {
    padding: 0;
    margin: 0;
    background-color: var(--tg-theme-bg-color);
    /*color: var(--tg-theme-text-color);*/
}

a {
    text-decoration: none;
}

.slider-main {
    height: 350px;
}

.container {
    width: 350px;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 350px;
    height: 80px;
    margin: 0 auto;
}

.slider__header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrap{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-main{
    transform: rotate(-90deg);
}

.slider {
    -webkit-appearance: none;
    height: 20px;
    width: 300px;
    border: 1px solid var(--tg-theme-button-color);
    border-radius: 20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px;
    height: 60px;
    background: var(--tg-theme-bg-color);
    border: 1px solid var(--tg-theme-button-color);
    border-radius: 15px;
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 60px;
    background: var(--tg-theme-bg-color);
    border: 1px solid var(--tg-theme-button-color);
    border-radius: 15px;
    cursor: pointer; /* Cursor on hover */
}

.slider-block{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-lines {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lines__wrap {
    height: 100%;
    width: 295px;
    display: flex;
    justify-content: space-evenly;
}

.line {
    height: 10px;
    width: 0.5px;
    background-color: var(--tg-theme-bg-color);

}

.slider-numbers {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers__wrap {
    height: 100%;
    width: 315px;
    display: flex;
    justify-content: space-between;
    color: var(--tg-theme-text-color);
}

.numbers__wrap > span {
    margin: 0;
    text-align: left;
    height: 14px;
    width: 40px;
    transform: rotate(90deg);
}

.header__wrap {
    font-size: 30px;
    color: var(--tg-theme-text-color);
}

.wrap {
    height: 120px;
}
