body {
    margin: 0;
    padding: 0;
    background-color: var(--tg-theme-bg-color);
}

a {
    text-decoration: none;
    color: black;
}

.slider-container {
    max-width: 390px;
    min-width: 390px;
    min-height: 250px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 293px;
    height: 9px;
    border: 1px solid var(--tg-theme-button-color);
    border-radius: 20px;
    background: var(--tg-theme-bg-color);
}

.slider__label{
    text-align: center;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 37px;
    background: var(--tg-theme-bg-color);
    border: 1px solid var(--tg-theme-button-color);
    border-radius: 15px;
}

.slider__vert-lines{
    width: 277px;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
}

.slider__vert-line{
    width: 0.5px;
    height: 10px;
    background-color: var(--tg-theme-button-color);
}

.slider__numbers{
    height: 100%;
    width: 292px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    margin-top: 3px;
}




.slider__btns {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.slider-link-btn{
    height: 40px;
    width: 100%;
}

.slider__btn{
    display: flex;
    height: 40px;
    width: 100%;
    background-color: var(--tg-theme-button-color);
    align-items: center;
    justify-content: center;
    color: var(--tg-theme-button-text-color);
    font-weight: bold;
}

.slider__btn:hover{
    background-color: var(--tg-theme-link-color);
}